if SHIELD_TAKO_DONGLE

config ZMK_KEYBOARD_NAME
  default "Tako"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

config ZMK_USB
	default y

endif

if SHIELD_TAKO_LEFT || SHIELD_TAKO_RIGHT || SHIELD_TAKO_RIGHT_DONGLE

config ZMK_SPLIT
  default y

config ZMK_BLE
	default y

endif
