if SHIELD_TAKO_DONGLE

config ZMK_KEYBOARD_NAME
  default "Tako dongle"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

config ZMK_USB
	default y

endif

if SHIELD_TAKO_LEFT || SHIELD_TAKO_RIGHT || SHIELD_TAKO_DONGLE

CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING=y
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY=y

config ZMK_SPLIT
  default y

config ZMK_BLE
	default y

endif
